on:
  push:
    branches:
      - main

jobs:
  RunUnitTests:
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@v4

    - name: install pytest
      run: pip install pytest pytest-spec pytest-describe

    - name: run pytest
      run: pytest --spec

    - name: install coverage
      run: pip install coverage

    - name: run coverage
      run: coverage run --source=calc,circle -m pytest

    - name: print report
      run: coverage report
   

